<!DOCTYPE HTML>
<html>

<head>
	<title>베스티안 병원</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../../resource/css/main.css" />
</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header">
			<h1><a href="index.html">베스티안 서울병원</a></h1>
			<nav class="links">
				<ul>
					<li><a href="#">전자동의서 조회</a></li>
					<li><a href="#">의사 목록 조회</a></li>
					<li><a href="#">진료 예약</a></li>
				</ul>
			</nav>
			<nav class="main">
				<ul>
					<li class="search">
						<a class="fa-search" href="#search">Search</a>
						<form id="search" method="get" action="#">
							<input type="text" name="query" placeholder="Search" />
						</form>
					</li>
					<li class="menu">
						<a class="fa-bars" href="#menu">Menu</a>
					</li>
				</ul>
			</nav>
		</header>

		<!-- Menu -->
		<section id="menu">

			<!-- Search -->
			<section>
				<form class="search" method="get" action="#">
					<input type="text" name="query" placeholder="Search" />
				</form>
			</section>

			<!-- Links -->
			<section>
				<ul class="links">
					<li>
						<a href="#">
							<h3>Lorem ipsum</h3>
							<p>Feugiat tempus veroeros dolor</p>
						</a>
					</li>
					<li>
						<a href="#">
							<h3>Dolor sit amet</h3>
							<p>Sed vitae justo condimentum</p>
						</a>
					</li>
					<li>
						<a href="#">
							<h3>Feugiat veroeros</h3>
							<p>Phasellus sed ultricies mi congue</p>
						</a>
					</li>
					<li>
						<a href="#">
							<h3>Etiam sed consequat</h3>
							<p>Porta lectus amet ultricies</p>
						</a>
					</li>
				</ul>
			</section>

			<!-- Actions -->
			<section>
				<ul class="actions stacked">
					<li><a href="#" class="button large fit">Log In</a></li>
				</ul>
			</section>

		</section>

		<!-- Main -->
		<div id="main">

			<!-- Footer -->
			<section id="selectIcon">
				<ul class="icons">
					<li><a href="#" class="icon brands fa-github"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
				</ul>
			</section>

			<!-- Post -->
			<article class="post">
				<header>
					<div class="title">
						<h2><a href="single.html">베스티안 서울 병원</a></h2>
						<p>서울에 있는 베스티안 병원</p>
					</div>
					<div class="meta">
						<time class="published" datetime="2015-11-01">November 1, 2015</time>
						<a href="#" class="author"><span class="name">정민서</span><img src="../../resource/image/avatar.jpg"
								alt="" /></a>
					</div>
				</header>
				<a href="single.html" class="image featured"><img src="../../resource/image/pic01.jpg" alt="" /></a>
				<p>글</p>
				<footer>
					<ul class="actions">
						<li><a href="single.html" class="button large">더보기</a></li>
					</ul>
					<ul class="stats">
						<li><a href="#">??</a></li>
					</ul>
				</footer>
			</article>

			<!-- Pagination -->
			<ul class="actions pagination">
				<li><a href="" class="disabled button large previous">Previous Page</a></li>
				<li><a href="#" class="button large next">Next Page</a></li>
			</ul>

		</div>

		<!-- Sidebar -->
		<section id="sidebar">

			<!-- Intro -->
			<section id="intro">
				<a href="#" class="logo"><img src="../../resource/image/logo.jpg" alt="" /></a>
				<header>
					<h2>베스티안 병원</h2>
					<p>서울 베스티안 병원</p>
				</header>
			</section>

			<!-- Mini Posts -->
			<section>
				<div class="mini-posts">

					<!-- Mini Post -->
					<article class="mini-post">
						<header>
							<h3><a href="single.html">작은 글</a></h3>
							<time class="published" datetime="2015-10-20">October 20, 2015</time>
							<a href="#" class="author"><img src="../../resource/image/avatar.jpg" alt="" /></a>
						</header>
						<a href="single.html" class="image"><img src="../../resource/image/pic04.jpg" alt="" /></a>
					</article>

					<!-- Posts List -->
					<section>
						<ul class="posts">
							<li>
								<article>
									<header>
										<h3><a href="single.html">Lorem ipsum fermentum ut nisl vitae</a></h3>
										<time class="published" datetime="2015-10-20">October 20, 2015</time>
									</header>
									<a href="single.html" class="image"><img src="../../resource/image/pic08.jpg" alt="" /></a>
								</article>
							</li>
						</ul>
					</section>

					<!-- About -->
					<section class="blurb">
						<h2>더보기</h2>
						<p>작은 글</p>
						<ul class="actions">
							<li><a href="#" class="button">더보기</a></li>
						</ul>
					</section>

			</section>
			<p class="copyright">&copy; copyright: <a href="http://html5up.net">HTML5 UP</a>.</p>

	</div>

	<!-- Scripts -->
	<script src="../../resource/js/common/jquery.min.js"></script>
	<script src="../../resource/js/common/browser.min.js"></script>
	<script src="../../resource/js/common/breakpoints.min.js"></script>
	<script src="../../resource/js/common/util.js"></script>
	<script src="../../resource/js/common/main.js"></script>

</body>

</html>